@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root{
    --blue: #063D58;
    --white: #fff;
    --gray: #f5f5f5;
    --black1: #222;
    --black2: #999;
}
html, body, *{
    font-family: 'Open Sans', sans-serif;
}
/* HTML: <div class="loader"></div> */
/* loader for the entire application */
.loader {
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid #0000;
    border-right-color: var(--blue);
    position: relative;
    animation: l24 1s infinite linear;
  }
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    inset: -8px;
    border-radius: 50%;
    border: inherit;
    animation: inherit;
    animation-duration: 2s;
  }
  .loader:after {
    animation-duration: 4s;
  }
  @keyframes l24 {
    100% {transform: rotate(1turn)}
  }
.card-header{
    background-color: var(--blue);
    color: whitesmoke;
}
.main-sidebar{
 background-color: whitesmoke;   
}

.main-sidebar .nav-link, .brand-text{
    color: black;
}
.nav-item a:hover{
    color: whitesmoke;
    background-color: #063D58;
}
.new-client-button{
    background-color: var(--blue);
    color: whitesmoke;
}
.client-details-header, .clients-table-data{
    background-color: var(--blue);
    color: whitesmoke;
}
.action-icons{
    color: var(--blue);
}
.external-services .card-header{
    background-color: var(--blue);
    color: whitesmoke;
}
.external-services tr{
    cursor: pointer;
}
.external-services i{
    color: var(--blue);
}
.service-detail-expand-button{
    background-color: var(--blue);
    color: whitesmoke;
}
.service-detail-expand-button i{
    color: whitesmoke;
}
.dashboard-buttons {
    display: flex;
    gap: 0;
    padding: 0;
}
.dashboard-buttons .btn {
    margin: 0;
    background-color: var(--blue);
    color: whitesmoke;
}
.dashboard-buttons .btn:first-child {
    margin: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.dashboard-buttons .btn:last-child {
    margin: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove number input spinners for Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
.next-form{
    background-color: var(--blue);
    color: whitesmoke;
}

.client-form-title{
    font-family: 'Open Sans', sans-serif;
    color: #063D58;
}

.card {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: 1rem;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.5rem 1.5rem;
}

.new-client-prompt{
    color: #063D58;
    font-family: 'Open Sans', sans-serif;
}

.client-form{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.client-form .fw-bold, .client-form .form-label{
    color: #063D58;
}
.nav-link.active {
    background-color: whitesmoke;
    color: #495057;
}
select, option {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.image-preview {
    margin-bottom: 1rem;
}

#imagePreview {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}
.form-step-indicator{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
        color: whitesmoke;
        background-color: #063D58;
        box-shadow: 0px 6px 28px -2px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 6px 28px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 6px 28px -2px rgba(0,0,0,0.75);
}
/* .fw-bold{
    color: #063D58;
} */
 .badge{
    cursor: pointer;
 }