:root{
    --blue: #063D58;
    --white: #fff;
    --gray: #f5f5f5;
    --black1: #222;
    --black2: #999;
}

/* HTML: <div class="loader"></div> */
/* loader for the entire application */
.loader {
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid #0000;
    border-right-color: var(--blue);
    position: relative;
    animation: l24 1s infinite linear;
  }
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    inset: -8px;
    border-radius: 50%;
    border: inherit;
    animation: inherit;
    animation-duration: 2s;
  }
  .loader:after {
    animation-duration: 4s;
  }
  @keyframes l24 {
    100% {transform: rotate(1turn)}
  }
.card-header{
    background-color: var(--blue);
    color: whitesmoke;
}
.main-sidebar{
 background-color: var(--blue);   
}

.main-sidebar .nav-link{
    color: whitesmoke;
}
.new-client-button{
    background-color: var(--blue);
    color: whitesmoke;
}
.client-details-header, .clients-table-data{
    background-color: var(--blue);
    color: whitesmoke;
}
.action-icons{
    color: var(--blue);
}
.external-services .card-header{
    background-color: var(--blue);
    color: whitesmoke;
}
.external-services tr{
    cursor: pointer;
}
.external-services i{
    color: var(--blue);
}
.service-detail-expand-button{
    background-color: var(--blue);
    color: whitesmoke;
}
.service-detail-expand-button i{
    color: whitesmoke;
}
.dashboard-buttons {
    display: flex;
    gap: 0;
    padding: 0;
}
.dashboard-buttons .btn {
    margin: 0;
    background-color: var(--blue);
    color: whitesmoke;
}
.dashboard-buttons .btn:first-child {
    margin: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.dashboard-buttons .btn:last-child {
    margin: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove number input spinners for Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
.next-form{
    background-color: var(--blue);
    color: whitesmoke;
}